application/node_modules
venv
application/js/firebase.js
application/js/speech-to-text.js
script.sh
requirements.txt
python/training-images/
python/attendance/__pycache__
.vscode
python/attendance/model.yml
python/attendance/labels.pkl
python/attendance/training-images