body {
    background-color: #eeeeee;
}

.back-btn {
    position: relative;
    left: 10px;
    top: 10px;
}
.back-btn:hover {
    box-shadow: 0 5px 8px rgba(0,0,0,0.15), 5px 5px 5px rgba(0,0,0,0.15);
}

/* .wrapper {

} */

.container-calendar {
    background: #ffffff;
    padding: 15px;
    max-width: 475px;
    margin: 0 auto;
    overflow: auto;
}

.button-container-calendar button {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #00a2b7;
    color: #fff;
    border: 1px solid #0aa2b5;
    border-radius: 4px;
    padding: 5px 10px;
}

.table-calendar {
    border-collapse: collapse;
    width: 100%;
}

.table-calendar td,
.table-calendar th {
    padding: 5px;
    border: 1px solid #e2e2e2;
    text-align: center;
    vertical-align: top;
    width: 14.286%;
}

.date-picker.selected {
    font-weight: bold;
    outline: 1px solid #00bcd4;
}

.date-picker.selected span {
    border-bottom: 2px solid currentColor;
}

.date-picker.present {
    font-weight: bold;
    background-color: #8BC34A;
}
.date-picker.absent {
    font-weight: bold;
    background-color: #ef5350;
}

/* sunday */
.date-picker:nth-child(1) {
    color: red;
}

#monthAndYear {
    text-align: center;
    margin-top: 0;
}

.button-container-calendar {
    position: relative;
    padding-bottom: 1em;
    overflow: hidden;
    clear: both;
}

#previous-btn {
    float: left;
}
#previous-btn:hover {
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2), 0 3px 4px rgba(0,0,0,0.2);
}
#next-btn {
    float: right;
}
#next-btn:hover {
    box-shadow: 0px 4px 6px rgba(0,0,0,0.2), 0 3px 4px rgba(0,0,0,0.2);
}

.footer-container-calendar {
    margin-top: 1em;
    border-top: 1px solid #dadada;
    padding: 10px 0;
}

.footer-container-calendar select {
    cursor: pointer;
    display: inline-block;
    zoom: 1;
    background: #ffffff;
    color: #585858;
    border: 1px solid #bfc5c5;
    border-radius: 3px;
    padding: 5px 1em;
}
